* {
    box-sizing: border-box;
}

body{
    background: #ECECEC;
}

.form{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 150px 0;
}

.form-content{
    padding: 40px;
    width: 100%;
    position: relative;
    -webkit-box-shadow:  0px 0px 1px #000;
    -moz-box-shadow:  0px 0px 1px #000;
    box-shadow:  0px 0px 1px #000;
}

.form-steps{
    display: flex;
    border-bottom: none;
    align-items: center;
}

.form-steps li.nav-separator{
    flex: 1;
}

.step-separator{
    border: 2px solid #CECECE;
    width: 100%;
}

.step-separator.active{
    border: 2px solid #00838F;
}

.form-steps-content{
    padding: 40px 0px;
    margin-bottom: 40px;
}

.nav-step{
    -webkit-border-radius: 48px !important;
    -moz-border-radius: 48px !important;
    border-radius: 48px !important;
    background-color: #CECECE;
    color: black;
    border: none !important;
    display: inline-block;
    width: auto;
}

.nav-step.active{
    font-weight: bolder;
    background-color: #00838F !important;
    color: white !important;
}

.form-buttons{
    /*position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;*/
}

.form-content .form-control{
    background-color: #EFEFEF;
    border: 2px solid #ECECEC;
}

.has-error{
    border-color: red !important;
}

.has-warning{
    border-color: #ffc107 !important;
}

.label-error{
    color: red;
}

.label-warning{
    color: #ffc107;
}

.form-content .form-control:focus{
    border: 2px solid #00838F;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

label{
    font-weight: bold;
    font-size: 17px;
}

input:not(input[type="checkbox"],input[type="radio"], textarea){
    height: 35px;
}

.btn-success{
    background-color: #00838F;
    border-color: #00838F;
}

.btn-success:hover{
    background-color: #00838F;
    border-color: #00838F;
    color: white;
}


.btn-outline-success{
    border-color: #00838F;
    color: #00838F;
}

.btn-outline-success:hover{
    background-color: #00838F;
    border-color: #00838F;
    color: white;
}



.no-padding{
    padding: 0;
}


.form .card-header{
    border: none;
}

.form-title{
    text-align: center;
    font-weight: bolder;
}



.seperator{
    width: 50px;
    border: 3px solid #00838F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 60px;
}




.form-content .radios{
    display: block;
    margin-top: 20px;
}

.form-content .radios input, .form-content .check-box-area input{
    display: none;
}

.form-content .radios label, .form-content .check-box-area label{
    margin-left: 32px;
}

.form-content .radios .radio-item, .form-content .check-box-area {
    position: relative;
    margin: 10px 0;
}

.form-content .radios label:before, .form-content .check-box-area label:before{
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    background: #ECECEC;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    content: ' ';
    -webkit-box-shadow: inset 0px 0px 0px 2px #00838F;
    -moz-box-shadow: inset 0px 0px 0px 2px #00838F;
    box-shadow: inset 0px 0px 0px 2px #00838F;
}

.form-content .check-box-area label:before{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-content .radios input:checked + label:before, .form-content .check-box-area input:checked + label:before{
    content: '\2713';
    background-color: #00838F;
    color: #FFF;
}
.input-group-append .btn, input-group-prepend .btn, .input-group-text{
    border: none;
    background: #ECECEC;
}

.grouped-block{
    box-shadow:  0px 0px 0px 1px #ECECEC;
    padding: 10px;
    margin-bottom: 20px;
}

.grouped-block:hover{
    box-shadow:  0px 0px 0px 1px #00838F;
}

.block-title {
    margin-bottom: 30px;
}

.upload-area{
    margin-bottom: 10px;
    position: relative;
}

.upload-area button{
    position: absolute;
    z-index: 20;
}

input[type="file"][data-type="image"]{
    opacity: 0;
}

input[data-custom] + input{
    position: absolute !important;
    opacity: 0;
}

.div-upload-img{
    height: 350px;
}

.upload-container{
    position: relative;
}

.controls{
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
}

.cropped-area{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ECECEC;
    width: 110px;
    height: 110px;
}


.div-upload-img img{
    max-width: 100%;
}

.btn-group-crop{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.form-content .card-body{
    position: relative;
}

.steps-indicator{
    position: absolute;
    height: 5px;
    background-color: #CECECE;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
}

.steps-indicator span{
    flex: 1;
}

.steps-indicator span.active{
    background-color: #00838F;
}

.block-buttons{
    margin-bottom: 30px;
    display: none;
}

/*.loader {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    left: 35%;
    top: 45%;
    color: white;
}*/

.intl-tel-input{
    width: 100% !important;
}


#pdf-container table{
    width: 100%;
}



#pdf-container table th, #pdf-container table th{
    padding: 5px 10px;
}


.pdf-header div{
    padding: 10px 0;
}

.pdf-header table:nth-child(2) td{
    text-align: center;
}

.pdf-help-block{
    font-size: 12px;
}

.pdf-client-info{
    border-bottom: 1px solid black;
}

.pdf-body table{
    border: 1px solid black;
}

.pdf-body p:not(.pdf-help-block) {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}

.pdf-body table th{
    font-size: 13px;
}

.pdf-body tr.doc-sign th{
    height: 100px;
    vertical-align: top;
}

input[name^='bic'], input[name^='iban']{
    text-transform: uppercase;
}

.area-multiple{
    border: 1px solid #ECECEC;
    padding: 10px;
}

.payment-types{
    margin: 0;
    padding: 0;
    list-style: none;
}

.payment-types li{
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.payment-types li span{
    margin-left: 15px;
}

.payment-types li span:before{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid black;
    position: absolute;
    left: 0;
    content: '';
}

.payment-types li span.active:before{
    content: '\2713';
}

.hidden-extra-content{
    display: none;
}

.btn-download-toggleable{
    display: none;
}

